.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px);
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup-content {
    font-size: 14px;
    padding: 10px;
    background-color: #4285f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mapboxgl-popup-tip {
    border-top-color: #4285f4;
}

.mapboxgl-popup-close-button {
    color: #ffffff;
}